{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
{{ object.title }} | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'events/single_upper_links.html' %}
{% endblock cssarea %}


{% block content %}

<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">{{ object.title }}</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><a class="breadcrumb-entry" href="{% url 'events' %}">Events</a></li>
                <li><span class="breadcrumb-entry">{{ object.title }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary"
                    class="content-area content-has-sidebar float-left col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <main id="main" class="site-main">
                        <article id="post-166"
                            class="single-hentry post-166 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-builder tag-cloud tag-map tag-tower tag-truck">
                            <div class="entry-blog">
                                <div class="entry-featured">
                                    <img width="501" height="313" alt=""
                                        data-srcset="/media/{{ object.main_image }} 1920w, /media/{{ object.main_image }} 600w"
                                        data-src="/media/{{ object.main_image }}"
                                        data-sizes="(max-width: 501px) 100vw, 501px"
                                        class="attachment-consultio-large size-consultio-large wp-post-image lazyload"
                                        src="/media/{{ object.main_image }}" />
                                    <div class="entry-category">
                                        <a href="../category/business/index.html" rel="tag">{{ object.category }}</a>
                                    </div>
                                </div>
                                <div class="entry-body">
                                    <ul class="entry-meta">
                                        <li class="item-date"><i class="fac fac-calendar-alt"></i>5 Nov, 2019
                                        </li>
                                        <li class="item-author"> <i class="fac fac-user"></i><a
                                                href="../author/admin/index.html" title="Posts by Rinnah"
                                                rel="author">Rinnah</a></li>
                                    </ul>
                                    <div class="entry-content clearfix">
                                        {{ object.description|safe }}
                                    </div>
                                </div>
                            </div>
                            <div class="entry-footer">
                                <!-- <div class="entry-tags">
                                    <label class="label">Tags:</label>
                                    <a href="../tag/builder/index.html" rel="tag">Builder</a>
                                    <a href="../tag/cloud/index.html" rel="tag">Cloud</a>
                                    <a href="../tag/map/index.html" rel="tag">Map</a>
                                    <a href="../tag/tower/index.html" rel="tag">Tower</a>
                                    <a href="../tag/truck/index.html" rel="tag">Truck</a>
                                </div> -->
                                <div class="entry-social"> <label>Share:</label> <a class="fb-social" title="Facebook"
                                        target="_blank"
                                        href="http://www.facebook.com/sharer/sharer.php?u=https://demo.casethemes.net/consultio-immigration/how-stay-calm-from-the-first-time/"><i
                                            class="fab fac-facebook-f"></i></a> <a class="tw-social" title="Twitter"
                                        target="_blank"
                                        href="https://twitter.com/intent/tweet?url=https://demo.casethemes.net/consultio-immigration/how-stay-calm-from-the-first-time/&amp;text=How%20Stay%20Calm%20from%20the%20First%20Time."><i
                                            class="fab fac-twitter"></i></a> <a class="pin-social" title="Pinterest"
                                        target="_blank"
                                        href="http://pinterest.com/pin/create/button/?url=https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-10.jpg&amp;media=&amp;description=How%20Stay%20Calm%20from%20the%20First%20Time."><i
                                            class="fab fac-pinterest-p"></i></a> <a class="in-social" title="LinkedIn"
                                        target="_blank"
                                        href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://demo.casethemes.net/consultio-immigration/how-stay-calm-from-the-first-time/&amp;title=How%20Stay%20Calm%20from%20the%20First%20Time."><i
                                            class="fab fac-linkedin-in"></i></a></div>
                            </div>
                            <!-- <div class="entry-navigation">
                                <div class="nav-links">
                                    <div class="nav-item nav-post-prev">
                                        <div class="nav-post-img">
                                            <a href="../why-youll-never-succeed-at-7-habits-of-highly/index.html"><img
                                                    data-src='https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/ud-blog1.jpg'
                                                    class='lazyload'
                                                    src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' />
                                            </a>
                                        </div>
                                        <div class="nav-post-meta">
                                            <label>Previous Post</label>
                                            <a href="../why-youll-never-succeed-at-7-habits-of-highly/index.html">Why
                                                You’ll Never Succeed at 7 Habits.
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- .nav-links ->
                            </div> -->
                        </article><!-- #post -->

                    </main><!-- #main -->
                </div><!-- #primary -->
                <aside id="secondary"
                    class="widget-area widget-has-sidebar sidebar-fixed col-xl-3 col-lg-4 col-md-12 col-sm-12">
                    <div class="sidebar-sticky">
                        <section id="search-2" class="widget widget_search">
                            <div class="widget-content">
                                <form role="search" method="get" class="search-form"
                                    action="https://demo.casethemes.net/consultio-immigration/">
                                    <div class="searchform-wrap"> <input type="text" placeholder="Search..." name="s"
                                            class="search-field" /> <button type="submit" class="search-submit"><i
                                                class="far fac-search"></i></button></div>
                                </form>
                            </div>
                        </section>
                        <section id="categories-3" class="widget widget_categories">
                            <div class="widget-content">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li class="cat-item cat-item-1"><a href="../category/business/index.html">Business
                                            <span class="count right">2 </span></a></li>
                                    <li class="cat-item cat-item-18"><a href="../category/creative/index.html">Creative
                                            <span class="count right">2 </span></a></li>
                                    <li class="cat-item cat-item-19"><a href="../category/strategy/index.html">Strategy
                                            <span class="count right">2 </span></a></li>
                                </ul>
                            </div>
                        </section>
                        <section id="archives-3" class="widget widget_archive">
                            <div class="widget-content">
                                <h2 class="widget-title">Archives</h2>
                                <ul>
                                    <li><a href='../2019/11/index.html'>November 2019 <span
                                                class="count right">5</span></a></li>
                                    <li><a href='../2018/11/index.html'>November 2018 <span
                                                class="count right">1</span></a></li>
                                </ul>
                            </div>
                        </section>
                        <section id="media_gallery-2" class="widget widget_media_gallery">
                            <div class="widget-content">
                                <h2 class="widget-title">Gallery</h2>
                                <div id='gallery-2' class='gallery galleryid-166 gallery-columns-3 gallery-size-medium'>
                                    <figure class='gallery-item'>
                                        <div class='gallery-icon landscape'> <a
                                                href='../wp-content/uploads/2019/12/gallery-04.jpg'><img width="300"
                                                    height="300" alt=""
                                                    data-srcset="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-04.jpg 600w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-04-300x300.jpg 300w"
                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-04.jpg"
                                                    data-sizes="(max-width: 300px) 100vw, 300px"
                                                    class="attachment-medium size-medium lazyload"
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
                                        </div>
                                    </figure>
                                    <figure class='gallery-item'>
                                        <div class='gallery-icon landscape'> <a
                                                href='../wp-content/uploads/2019/12/gallery-06.jpg'><img width="300"
                                                    height="300" alt=""
                                                    data-srcset="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-06-300x300.jpg 300w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-06-150x150.jpg 150w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-06.jpg 600w"
                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-06-300x300.jpg"
                                                    data-sizes="(max-width: 300px) 100vw, 300px"
                                                    class="attachment-medium size-medium lazyload"
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
                                        </div>
                                    </figure>
                                    <figure class='gallery-item'>
                                        <div class='gallery-icon landscape'> <a
                                                href='../wp-content/uploads/2019/12/gallery-02.jpg'><img width="300"
                                                    height="300" alt=""
                                                    data-srcset="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-02.jpg 600w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-02-300x300.jpg 300w"
                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-02.jpg"
                                                    data-sizes="(max-width: 300px) 100vw, 300px"
                                                    class="attachment-medium size-medium lazyload"
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
                                        </div>
                                    </figure>
                                    <figure class='gallery-item'>
                                        <div class='gallery-icon landscape'> <a
                                                href='../wp-content/uploads/2019/12/gallery-03.jpg'><img width="300"
                                                    height="300" alt=""
                                                    data-srcset="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-03.jpg 600w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-03-300x300.jpg 300w"
                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-03.jpg"
                                                    data-sizes="(max-width: 300px) 100vw, 300px"
                                                    class="attachment-medium size-medium lazyload"
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
                                        </div>
                                    </figure>
                                    <figure class='gallery-item'>
                                        <div class='gallery-icon landscape'> <a
                                                href='../wp-content/uploads/2019/12/gallery-01.jpg'><img width="300"
                                                    height="300" alt=""
                                                    data-srcset="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-01-300x300.jpg 300w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-01-150x150.jpg 150w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-01.jpg 600w"
                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-01-300x300.jpg"
                                                    data-sizes="(max-width: 300px) 100vw, 300px"
                                                    class="attachment-medium size-medium lazyload"
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
                                        </div>
                                    </figure>
                                    <figure class='gallery-item'>
                                        <div class='gallery-icon landscape'> <a
                                                href='../wp-content/uploads/2019/12/gallery-05.jpg'><img width="300"
                                                    height="300" alt=""
                                                    data-srcset="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-05.jpg 600w, https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-05-300x300.jpg 300w"
                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/gallery-05.jpg"
                                                    data-sizes="(max-width: 300px) 100vw, 300px"
                                                    class="attachment-medium size-medium lazyload"
                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" /></a>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </section>
                        <!-- <section id="tag_cloud-2" class="widget widget_tag_cloud">
                            <div class="widget-content">
                                <h2 class="widget-title">Tags</h2>
                                <div class="tagcloud"><a href="../tag/builder/index.html"
                                        class="tag-cloud-link tag-link-22 tag-link-position-1"
                                        style="font-size: 18.08pt;" aria-label="Builder (5 items)">Builder</a>
                                    <a href="../tag/cloud/index.html"
                                        class="tag-cloud-link tag-link-21 tag-link-position-2" style="font-size: 8pt;"
                                        aria-label="Cloud (3 items)">Cloud</a> <a href="../tag/map/index.html"
                                        class="tag-cloud-link tag-link-20 tag-link-position-3" style="font-size: 22pt;"
                                        aria-label="Map (6 items)">Map</a> <a href="../tag/tower/index.html"
                                        class="tag-cloud-link tag-link-23 tag-link-position-4" style="font-size: 8pt;"
                                        aria-label="Tower (3 items)">Tower</a> <a href="../tag/truck/index.html"
                                        class="tag-cloud-link tag-link-24 tag-link-position-5" style="font-size: 8pt;"
                                        aria-label="Truck (3 items)">Truck</a></div>
                            </div>
                        </section> -->
                    </div>
                </aside>
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}