{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Test Single | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'services/visa_upper_links.html' %}
{% endblock cssarea %}


{% block content %}
<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">{{ object.name }}</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><a class="breadcrumb-entry" href="{% url 'test_preparation' %}">Courses</a></li>
                <li><span class="breadcrumb-entry">{{ object.name }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary" class="col-12">
                    <main id="main" class="site-main">
                        <article id="post-5472"
                            class="post-5472 courses type-courses status-publish has-post-thumbnail hentry">
                            <div class="entry-body">
                                <div class="entry-content clearfix">
                                    <div data-elementor-type="wp-post" data-elementor-id="5472"
                                        class="elementor elementor-5472" data-elementor-settings="[]">
                                        <div class="elementor-inner">
                                            <div class="elementor-section-wrap">
                                                <section
                                                    class="elementor-section elementor-top-section elementor-element elementor-element-3c49d509 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                    data-id="3c49d509" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-extended ">
                                                        <div class="elementor-row">
                                                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-35e9a466"
                                                                data-id="35e9a466" data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-23efb195 elementor-widget elementor-widget-ct_navigation_menu"
                                                                            data-id="23efb195"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_navigation_menu.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div id="ct_navigation_menu-23efb195"
                                                                                    class="ct-navigation-menu1 default">
                                                                                    <div
                                                                                        class="menu-menu-courses-container">
                                                                                        <ul id="menu-menu-courses"
                                                                                            class="menu">
                                                                                            {% for course in course_data %}
                                                                                            <li
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-courses {% if course.slug == object.slug %} current-menu-item{% endif %}">
                                                                                                <a
                                                                                                    href="{{ course.get_absolute_url }}">{{ course.name }}</a>
                                                                                            </li>
                                                                                            {% empty %}
                                                                                            No Course Data
                                                                                            {% endfor %}
                                                                                            <!-- <li id="menu-item-5546"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-5546">
                                                                                                <a
                                                                                                    href="../ielts/index.html">IELTS</a>
                                                                                            </li>
                                                                                            <li id="menu-item-5547"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-5547">
                                                                                                <a
                                                                                                    href="../skills-exam/index.html">Skills
                                                                                                    Exam</a>
                                                                                            </li>
                                                                                            <li id="menu-item-5548"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-courses menu-item-5548">
                                                                                                <a
                                                                                                    href="../take-ielts/index.html">Take
                                                                                                    IELTS</a>
                                                                                            </li>
                                                                                            <li id="menu-item-5549"
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-courses current-menu-item menu-item-5549">
                                                                                                <a href="index.html"
                                                                                                    aria-current="page">TOEFL</a>
                                                                                            </li> -->
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-79aff639 elementor-widget elementor-widget-spacer"
                                                                            data-id="79aff639"
                                                                            data-element_type="widget"
                                                                            data-widget_type="spacer.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-spacer">
                                                                                    <div class="elementor-spacer-inner">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-24c7b99e elementor-widget elementor-widget-ct_heading"
                                                                            data-id="24c7b99e"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default">
                                                                                    <h3 class="item--title st-default "
                                                                                        data-wow-delay="ms">
                                                                                        <span> Contact </span>
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-2f1cc283 elementor-widget elementor-widget-ct_contact_info"
                                                                            data-id="2f1cc283"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_contact_info.default">
                                                                            <div class="elementor-widget-container">
                                                                                <ul id="ct_contact_info-2f1cc283"
                                                                                    class="ct-contact-info ct-contact-info1 style2 ">
                                                                                    <div class="ct-inline-css" data-css="
"></div>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="fas fa-map-marked-alt"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            Kumaripati, Lalitpur
                                                                                        </span></li>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-phone"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            01-5408575
                                                                                        </span></li>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-email-open"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            dreamnextedu@gmail.com
                                                                                        </span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-7b9da69a elementor-widget elementor-widget-spacer"
                                                                            data-id="7b9da69a"
                                                                            data-element_type="widget"
                                                                            data-widget_type="spacer.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-spacer">
                                                                                    <div class="elementor-spacer-inner">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-396ad7b0 elementor-widget elementor-widget-ct_heading"
                                                                            data-id="396ad7b0"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default">
                                                                                    <h3 class="item--title st-default "
                                                                                        data-wow-delay="ms">
                                                                                        <span> Book Now </span>
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-297a4421 elementor-widget elementor-widget-text-editor"
                                                                            data-id="297a4421"
                                                                            data-element_type="widget"
                                                                            data-widget_type="text-editor.default">

                                                                        </div>
                                                                        <div class="elementor-element elementor-element-47e5baa1 elementor-widget elementor-widget-ct_download"
                                                                            data-id="47e5baa1"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_download.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="ct-download">
                                                                                    <div class="item--download">
                                                                                        <a href="#"> <i
                                                                                                aria-hidden="true"
                                                                                                class="far fa-file-pdf"></i>
                                                                                            <span>
                                                                                                Book
                                                                                                Online</span>
                                                                                        </a>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-538d8d16"
                                                                data-id="538d8d16" data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        {{ object.description|safe }}
                                                                        <!-- <div class="elementor-element elementor-element-21a4ae6 elementor-widget elementor-widget-ct_image"
                                                                            data-id="21a4ae6" data-element_type="widget"
                                                                            data-widget_type="ct_image.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="ct-image-single  ">
                                                                                    <img width="980" height="500"
                                                                                        alt="theme-01" title="theme-01"
                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-01-980x500.jpg"
                                                                                        class="lazyload"
                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-29ac1383 elementor-widget elementor-widget-text-editor"
                                                                            data-id="29ac1383"
                                                                            data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                    Sponsoring and managing work
                                                                                    visas parts now becoming
                                                                                    results in the experience
                                                                                    with future guranteed.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-0df9b12 elementor-widget elementor-widget-text-editor"
                                                                            data-id="0df9b12" data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                    There are many variations of
                                                                                    passages of Lorem Ipsum
                                                                                    available, but the majority
                                                                                    have suffered alteration in
                                                                                    some form, by injected
                                                                                    humour, or randomised words
                                                                                    which don&#8217;t look even
                                                                                    slightly believable. If you
                                                                                    are going to use a passage
                                                                                    of Lorem Ipsum, you need to
                                                                                    be sure there isn&#8217;t
                                                                                    anything embarrassing
                                                                                    hidden.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-61d68057 elementor-widget elementor-widget-text-editor"
                                                                            data-id="61d68057"
                                                                            data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                    All the Lorem Ipsum
                                                                                    generators on the Internet
                                                                                    tend to repeat predefined
                                                                                    chunks as necessary, making
                                                                                    this the first true
                                                                                    generator on the Internet.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-6efa2f33 elementor-widget elementor-widget-ct_list"
                                                                            data-id="6efa2f33"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_list.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="ct-list style1 ">
                                                                                    <div class="ct-list-item "
                                                                                        data-wow-delay="ms">
                                                                                        <div class="ct-list-icon">
                                                                                            <i
                                                                                                class="fac fac-check-circle"></i>
                                                                                        </div>
                                                                                        <div class="ct-list-meta">
                                                                                            <div class="ct-list-desc">
                                                                                                Sed do eiusmod
                                                                                                tempor
                                                                                                incididunt ut
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="ct-list-item "
                                                                                        data-wow-delay="ms">
                                                                                        <div class="ct-list-icon">
                                                                                            <i
                                                                                                class="fac fac-check-circle"></i>
                                                                                        </div>
                                                                                        <div class="ct-list-meta">
                                                                                            <div class="ct-list-desc">
                                                                                                Labore et dolore
                                                                                                magna aliqua
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="ct-list-item "
                                                                                        data-wow-delay="ms">
                                                                                        <div class="ct-list-icon">
                                                                                            <i
                                                                                                class="fac fac-check-circle"></i>
                                                                                        </div>
                                                                                        <div class="ct-list-meta">
                                                                                            <div class="ct-list-desc">
                                                                                                Ut enim ad minim
                                                                                                veniam quis
                                                                                                nostrud</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-5c52ca64 elementor-widget elementor-widget-ct_gallery_carousel"
                                                                            data-id="5c52ca64"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_gallery_carousel.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-gallery-carousel1 ct-slick-slider">
                                                                                    <div class="ct-carousel-inner">
                                                                                        <div class="ct-slick-carousel"
                                                                                            data-arrows=""
                                                                                            data-dots="true"
                                                                                            data-pauseOnHover=""
                                                                                            data-autoplay="true"
                                                                                            data-autoplaySpeed="5000"
                                                                                            data-infinite=""
                                                                                            data-speed="500"
                                                                                            data-colxs="1"
                                                                                            data-colsm="2"
                                                                                            data-colmd="2"
                                                                                            data-collg="2"
                                                                                            data-colxl="2"
                                                                                            data-dir="false"
                                                                                            data-slidesToScroll="2">
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="theme-05"
                                                                                                    title="theme-05"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-05-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="theme-07"
                                                                                                    title="theme-07"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-07-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="ud-blog1"
                                                                                                    title="ud-blog1"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/ud-blog1-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="theme-09"
                                                                                                    title="theme-09"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-09-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-47f46aae elementor-widget elementor-widget-ct_tabs"
                                                                            data-id="47f46aae"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_tabs.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-tabs ct-tabs--layout1 type-horizontal style1">
                                                                                    <div class="ct-tabs-title">
                                                                                        <span
                                                                                            class="ct-tab-title active"
                                                                                            data-target="#ct_tabs-47f46aae-9b25c0b">
                                                                                            Personal Care
                                                                                        </span> <span
                                                                                            class="ct-tab-title "
                                                                                            data-target="#ct_tabs-47f46aae-4f1a9d6">
                                                                                            Super Support
                                                                                        </span> <span
                                                                                            class="ct-tab-title "
                                                                                            data-target="#ct_tabs-47f46aae-d7551e8">
                                                                                            Guaranteed </span>
                                                                                    </div>
                                                                                    <div class="ct-tabs-content">
                                                                                        <div class="ct-tab-content "
                                                                                            id="ct_tabs-47f46aae-9b25c0b"
                                                                                            style="display:block;">
                                                                                            <p>Sed ut
                                                                                                perspiciatis
                                                                                                unde omnis iste
                                                                                                natus error sit
                                                                                                voluptatem
                                                                                                accusantium
                                                                                                doloremque lau
                                                                                                dantium, totam
                                                                                                rem aperiam,
                                                                                                eaque ipsa quae
                                                                                                ab illo
                                                                                                inventore
                                                                                                veritatis et
                                                                                                quasi archi
                                                                                                tecto beatae
                                                                                                vitae dicta sunt
                                                                                                explicabo.</p>
                                                                                            <p>Nemo enim ipsam
                                                                                                voluptatem quia
                                                                                                voluptas sit
                                                                                                aspernatur aut
                                                                                                odit aut fugit,
                                                                                                sed quia conse
                                                                                                quuntur magni
                                                                                                dolores eos qui
                                                                                                ratione
                                                                                                voluptatem sequi
                                                                                                nesciunt.</p>
                                                                                        </div>
                                                                                        <div class="ct-tab-content "
                                                                                            id="ct_tabs-47f46aae-4f1a9d6">
                                                                                            <p>Nemo enim ipsam
                                                                                                voluptatem quia
                                                                                                voluptas sit
                                                                                                aspernatur aut
                                                                                                odit aut fugit,
                                                                                                sed quia conse
                                                                                                quuntur magni
                                                                                                dolores eos qui
                                                                                                ratione
                                                                                                voluptatem sequi
                                                                                                nesciunt.<br />
                                                                                            </p>
                                                                                            <p>Sed ut
                                                                                                perspiciatis
                                                                                                unde omnis iste
                                                                                                natus error sit
                                                                                                voluptatem
                                                                                                accusantium
                                                                                                doloremque lau
                                                                                                dantium, totam
                                                                                                rem aperiam,
                                                                                                eaque ipsa quae
                                                                                                ab illo
                                                                                                inventore
                                                                                                veritatis et
                                                                                                quasi archi
                                                                                                tecto beatae
                                                                                                vitae dicta sunt
                                                                                                explicabo.</p>
                                                                                        </div>
                                                                                        <div class="ct-tab-content "
                                                                                            id="ct_tabs-47f46aae-d7551e8">
                                                                                            <p>Sed ut
                                                                                                perspiciatis
                                                                                                unde omnis iste
                                                                                                natus error sit
                                                                                                voluptatem
                                                                                                accusantium
                                                                                                doloremque lau
                                                                                                dantium, totam
                                                                                                rem aperiam,
                                                                                                eaque ipsa quae
                                                                                                ab illo
                                                                                                inventore
                                                                                                veritatis et
                                                                                                quasi archi
                                                                                                tecto beatae
                                                                                                vitae dicta sunt
                                                                                                explicabo
                                                                                                voluptatem sequi
                                                                                                nesciunt.</p>
                                                                                            <p>Nemo enim ipsam
                                                                                                voluptatem quia
                                                                                                voluptas sit
                                                                                                aspernatur aut
                                                                                                odit aut fugit,
                                                                                                sed quia conse
                                                                                                quuntur magni
                                                                                                dolores eos qui
                                                                                                ratione
                                                                                                voluptatem sequi
                                                                                                nesciunt.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section
                                                    class="elementor-section elementor-top-section elementor-element elementor-element-7c2beac2 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                    data-id="7c2beac2" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-extended ">
                                                        <div class="elementor-row">
                                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-669067e0"
                                                                data-id="669067e0" data-element_type="column">
                                                                <div class="elementor-column-wrap">
                                                                    <div class="elementor-widget-wrap"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </div>
                        </article><!-- #post -->
                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}