{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Test Single | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'services/visa_upper_links.html' %}
{% endblock cssarea %}


{% block content %}
<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">{{ object.name }}</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><span class="breadcrumb-entry">Test Preparation</span></li>
                <li><span class="breadcrumb-entry">{{ object.name }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary" class="col-12">
                    <main id="main" class="site-main">
                        <article id="post-5472"
                            class="post-5472 courses type-courses status-publish has-post-thumbnail hentry">
                            <div class="entry-body">
                                <div class="entry-content clearfix">
                                    <div data-elementor-type="wp-post" data-elementor-id="5472"
                                        class="elementor elementor-5472" data-elementor-settings="[]">
                                        <div class="elementor-inner">
                                            <div class="elementor-section-wrap">
                                                <section
                                                    class="elementor-section elementor-top-section elementor-element elementor-element-3c49d509 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                    data-id="3c49d509" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-extended ">
                                                        <div class="elementor-row">
                                                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-35e9a466"
                                                                data-id="35e9a466" data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-23efb195 elementor-widget elementor-widget-ct_navigation_menu"
                                                                            data-id="23efb195"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_navigation_menu.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div id="ct_navigation_menu-23efb195"
                                                                                    class="ct-navigation-menu1 default">
                                                                                    <div
                                                                                        class="menu-menu-courses-container">
                                                                                        <ul id="menu-menu-courses"
                                                                                            class="menu">
                                                                                            {% for course in course_data %}
                                                                                            <li
                                                                                                class="menu-item menu-item-type-post_type menu-item-object-courses {% if course.slug == object.slug %} current-menu-item{% endif %}">
                                                                                                <a
                                                                                                    href="{{ course.get_absolute_url }}">{{ course.name }}</a>
                                                                                            </li>
                                                                                            {% empty %}
                                                                                            No Course Data
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="elementor-element elementor-element-79aff639 elementor-widget elementor-widget-spacer"
                                                                            data-id="79aff639"
                                                                            data-element_type="widget"
                                                                            data-widget_type="spacer.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-spacer">
                                                                                    <div class="elementor-spacer-inner">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="elementor-element elementor-element-24c7b99e elementor-widget elementor-widget-ct_heading"
                                                                            data-id="24c7b99e"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default">
                                                                                    <h3 class="item--title st-default "
                                                                                        data-wow-delay="ms">
                                                                                        <span> Contact </span>
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-2f1cc283 elementor-widget elementor-widget-ct_contact_info"
                                                                            data-id="2f1cc283"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_contact_info.default">
                                                                            <div class="elementor-widget-container">
                                                                                <ul id="ct_contact_info-2f1cc283"
                                                                                    class="ct-contact-info ct-contact-info1 style2 ">
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="fas fa-map-marked-alt"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            Kumaripati, Lalitpur
                                                                                        </span></li>
                                                                                    <li>
                                                                                        <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-phone"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            01-5408575
                                                                                        </span>
                                                                                    </li>
                                                                                    <li>
                                                                                        <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-phone"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            9849985262
                                                                                        </span>
                                                                                    </li>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-email-open"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            dreamnextedu@gmail.com
                                                                                        </span></li>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-email-open"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            info@dreamnextfoundation.edu.np
                                                                                        </span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-7b9da69a elementor-widget elementor-widget-spacer"
                                                                            data-id="7b9da69a"
                                                                            data-element_type="widget"
                                                                            data-widget_type="spacer.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-spacer">
                                                                                    <div class="elementor-spacer-inner">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-column elementor-col-66 elementor-top-column elementor-element"
                                                                data-element_type="column">
                                                                <div class="elementor-column-wrap elementor-element-populated" style="display: block;">
                                                                    <div class="elementor-widget-wrap">
                                                                        {{ object.description|safe }}
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-47e5baa1 elementor-widget">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="ct-download">
                                                                                <div class="item--download">
                                                                                    <a href="{% url 'enquiry' %}" style="justify-content:center;">
                                                                                        <i aria-hidden="true" class="far fa-file-pdf"></i>
                                                                                        <span>
                                                                                            Enroll Now
                                                                                        </span>
                                                                                    </a>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </div>
                        </article><!-- #post -->
                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}