.elementor-20 .elementor-element.elementor-element-af9be59 {
	margin-top: 0px;
	margin-bottom: 0px;
	z-index: 1;
}
.elementor-20
	.elementor-element.elementor-element-d1c999c
	> .elementor-element-populated {
	padding: 0px 15px 0px 15px;
}
.elementor-20 .elementor-element.elementor-element-1576147 .ct-image-single {
	text-align: center;
}
.elementor-20
	.elementor-element.elementor-element-1576147
	> .elementor-widget-container {
	margin: 0px 0px -85px 0px;
	padding: 0px 0px 0px 0px;
}
.elementor-20
	.elementor-element.elementor-element-4b35436:not(.elementor-motion-effects-element-type-background),
.elementor-20
	.elementor-element.elementor-element-4b35436
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #0082c6;
}
.elementor-20 .elementor-element.elementor-element-4b35436 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s,
		box-shadow 0.3s;
	padding: 75px 0px 35px 0px;
}
.elementor-20
	.elementor-element.elementor-element-4b35436
	> .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-20
	.elementor-element.elementor-element-4fd8a94
	.ct-heading
	.item--title {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 0px;
}
.elementor-20
	.elementor-element.elementor-element-4fd8a94
	.ct-heading
	.item--title
	i {
	color: #ffffff;
}
.elementor-20
	.elementor-element.elementor-element-4fd8a94
	.ct-heading
	.item--sub-title {
	margin-bottom: 9px;
}
.elementor-20
	.elementor-element.elementor-element-4fd8a94
	> .elementor-widget-container {
	margin: 0px 0px 24px 0px;
}
.elementor-20 .elementor-element.elementor-element-324188f1 .ct-text-editor {
	color: #dde8e8;
}
.elementor-20 .elementor-element.elementor-element-324188f1 {
	font-family: 'Rubik', Sans-serif;
	font-size: 16px;
	line-height: 27px;
}
.elementor-20
	.elementor-element.elementor-element-324188f1
	> .elementor-widget-container {
	margin: 0px 0px 21px 0px;
}
.elementor-20
	.elementor-element.elementor-element-698b742
	.ct-heading
	.item--title {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0px;
}
.elementor-20
	.elementor-element.elementor-element-698b742
	.ct-heading
	.item--title
	i {
	color: #ffffff;
}
.elementor-20
	.elementor-element.elementor-element-698b742
	.ct-heading
	.item--sub-title {
	margin-bottom: 9px;
}
.elementor-20
	.elementor-element.elementor-element-698b742
	> .elementor-widget-container {
	margin: 0px 0px 8px 0px;
}
.elementor-20 .elementor-element.elementor-element-12558334 .ct-text-editor {
	color: #dde8e8;
}
.elementor-20 .elementor-element.elementor-element-12558334 {
	font-family: 'Rubik', Sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.elementor-20
	.elementor-element.elementor-element-12558334
	> .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-20
	.elementor-element.elementor-element-4d62e194
	> .elementor-element-populated {
	margin: 0px 5px 0px 0px;
}
.elementor-20
	.elementor-element.elementor-element-ec7fe7f
	.ct-heading
	.item--title {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 0px;
}
.elementor-20
	.elementor-element.elementor-element-ec7fe7f
	.ct-heading
	.item--title
	i {
	color: #ffffff;
}
.elementor-20
	.elementor-element.elementor-element-ec7fe7f
	.ct-heading
	.item--sub-title {
	margin-bottom: 9px;
}
.elementor-20
	.elementor-element.elementor-element-ec7fe7f
	> .elementor-widget-container {
	margin: 0px 0px 24px 0px;
}
.elementor-20 .elementor-element.elementor-element-7b23233 .ct-text-editor {
	color: #dde8e8;
}
.elementor-20 .elementor-element.elementor-element-7b23233 {
	font-family: 'Rubik', Sans-serif;
	font-size: 14px;
	line-height: 26px;
}
.elementor-20
	.elementor-element.elementor-element-7b23233
	> .elementor-widget-container {
	margin: 0px 0px 27px 0px;
}
.elementor-20
	.elementor-element.elementor-element-ca7e4ea
	.ct-mailchimp.ct-mailchimp1
	.mc4wp-form
	.mc4wp-form-fields
	input {
	color: #ffffff;
	background-color: #263964;
}
.elementor-20
	.elementor-element.elementor-element-ca7e4ea
	.ct-mailchimp.ct-mailchimp1
	.mc4wp-form
	.mc4wp-form-fields:before {
	background: #ff0040;
}
.elementor-20 .elementor-element.elementor-element-5e573de4 .ct-icon1 a i {
	color: #ffffff;
}
.elementor-20
	.elementor-element.elementor-element-5e573de4
	.ct-icon1
	a:hover
	i {
	color: #ff0040;
}
.elementor-20
	.elementor-element.elementor-element-5e573de4
	> .elementor-widget-container {
	margin: 2px 0px 0px 0px;
}
.elementor-20
	.elementor-element.elementor-element-9f425fd
	.ct-heading
	.item--title {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 0px;
}
.elementor-20
	.elementor-element.elementor-element-9f425fd
	.ct-heading
	.item--title
	i {
	color: #ffffff;
}
.elementor-20
	.elementor-element.elementor-element-9f425fd
	.ct-heading
	.item--sub-title {
	margin-bottom: 9px;
}
.elementor-20
	.elementor-element.elementor-element-9f425fd
	> .elementor-widget-container {
	margin: 0px 0px 24px 0px;
}
.elementor-20 .elementor-element.elementor-element-722cda7e .ct-contact-info,
.elementor-20
	.elementor-element.elementor-element-722cda7e
	.ct-contact-info1.style2
	.ct-contact-content {
	color: #dde8e8;
}
.elementor-20 .elementor-element.elementor-element-722cda7e .ct-contact-info {
	font-family: 'Rubik', Sans-serif;
}
.elementor-20
	.elementor-element.elementor-element-722cda7e
	> .elementor-widget-container {
	margin: 0px 0px 12px 0px;
}
.elementor-20
	.elementor-element.elementor-element-66f42b8
	.ct-heading
	.item--title {
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 0px;
}
.elementor-20
	.elementor-element.elementor-element-66f42b8
	.ct-heading
	.item--title
	i {
	color: #ffffff;
}
.elementor-20
	.elementor-element.elementor-element-66f42b8
	.ct-heading
	.item--sub-title {
	margin-bottom: 9px;
}
.elementor-20
	.elementor-element.elementor-element-66f42b8
	> .elementor-widget-container {
	margin: 0px 0px 24px 0px;
}
.elementor-20
	.elementor-element.elementor-element-66f8378a:not(.elementor-motion-effects-element-type-background),
.elementor-20
	.elementor-element.elementor-element-66f8378a
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #01080d;
}
.elementor-20 .elementor-element.elementor-element-66f8378a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s,
		box-shadow 0.3s;
	padding: 5px 0px 5px 0px;
}
.elementor-20
	.elementor-element.elementor-element-66f8378a
	> .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-20 .elementor-element.elementor-element-17b407c6 .ct-text-editor {
	text-align: center;
	color: #c2d5e7;
}
.elementor-20
	.elementor-element.elementor-element-17b407c6
	.ct-text-editor
	a:hover {
	color: #ffffff;
}
.elementor-20 .elementor-element.elementor-element-17b407c6 {
	font-family: 'Poppins', Sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.elementor-20 .elementor-element.elementor-element-17b407c6 .ct-text-editor a {
	font-weight: 700;
}
@media (max-width: 1024px) {
	.elementor-20
		.elementor-element.elementor-element-2fa889c3
		> .elementor-element-populated {
		margin: 0px 0px 20px 0px;
	}
	.elementor-20
		.elementor-element.elementor-element-4d62e194
		> .elementor-element-populated {
		margin: 0px 0px 20px 0px;
	}
	.elementor-20
		.elementor-element.elementor-element-109a859b
		> .elementor-element-populated {
		margin: 0px 0px 20px 0px;
	}
	.elementor-20
		.elementor-element.elementor-element-2317946e
		> .elementor-element-populated {
		margin: 0px 0px 20px 0px;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.elementor-20 .elementor-element.elementor-element-2fa889c3 {
		width: 50%;
	}
	.elementor-20 .elementor-element.elementor-element-4d62e194 {
		width: 50%;
	}
	.elementor-20 .elementor-element.elementor-element-109a859b {
		width: 50%;
	}
	.elementor-20 .elementor-element.elementor-element-2317946e {
		width: 50%;
	}
}
