.ct-contact-info1 i {
	color: inherit !important;
}

.ct-main-menu > li > a {
	font-size: 14px !important;
}

.scroll-top {
	height: 44px;
	width: 44px;
	right: 75px;
}

.scroll-top.on {
	bottom: 25px;
}