{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Contact | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'contact/upper_links.html' %}
{% endblock cssarea %}


{% block content %}
<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Contact</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><span class="breadcrumb-entry">Contact</span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary" class="content-area content-full-width col-12">
                    <main id="main" class="site-main">
                        <article id="post-24" class="post-24 page type-page status-publish hentry">
                            <div class="entry-content clearfix">
                                <div data-elementor-type="wp-page" data-elementor-id="24" class="elementor elementor-24"
                                    data-elementor-settings="[]">
                                    <div class="elementor-inner">
                                        <div class="elementor-section-wrap">
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-99fbaeb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="99fbaeb" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-extended ">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e818542"
                                                            data-id="e818542" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-c8a2f48 elementor-widget elementor-widget-ct_fancy_box"
                                                                        data-id="c8a2f48" data-element_type="widget"
                                                                        data-widget_type="ct_fancy_box.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="ct-fancy-box ct-fancy-box-layout1 style1 "
                                                                                data-wow-delay="ms">
                                                                                <div class="item--icon"> <span
                                                                                        class="item--shape"></span>
                                                                                    <i aria-hidden="true"
                                                                                        class="fas fa-map-marker-alt"></i>
                                                                                </div>
                                                                                <div class="item--holder">
                                                                                    <h3 class="item--title">
                                                                                        Head office address:
                                                                                    </h3>
                                                                                    <div class="item--description">
                                                                                        2nd Floor Kumari Bank Building
                                                                                        <br/>
                                                                                        Kumaripati, Lalitpur
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d5f3e79"
                                                            data-id="d5f3e79" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-9e16110 elementor-widget elementor-widget-ct_fancy_box"
                                                                        data-id="9e16110" data-element_type="widget"
                                                                        data-widget_type="ct_fancy_box.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="ct-fancy-box ct-fancy-box-layout1 style1 "
                                                                                data-wow-delay="ms">
                                                                                <div class="item--icon"> <span
                                                                                        class="item--shape"></span>
                                                                                    <i aria-hidden="true"
                                                                                        class="fas fa-phone-alt"></i>
                                                                                </div>
                                                                                <div class="item--holder">
                                                                                    <h3 class="item--title">
                                                                                        Call us:</h3>
                                                                                    <div class="item--description">
                                                                                        01 - 5408575<br />
                                                                                        +977 - 9849985262
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-729a4d3"
                                                            data-id="729a4d3" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-485cc85 elementor-widget elementor-widget-ct_fancy_box"
                                                                        data-id="485cc85" data-element_type="widget"
                                                                        data-widget_type="ct_fancy_box.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="ct-fancy-box ct-fancy-box-layout1 style1 "
                                                                                data-wow-delay="ms">
                                                                                <div class="item--icon"> <span
                                                                                        class="item--shape"></span>
                                                                                    <i aria-hidden="true"
                                                                                        class="fas fa-envelope"></i>
                                                                                </div>
                                                                                <div class="item--holder">
                                                                                    <h3 class="item--title">
                                                                                        Mail for information:
                                                                                    </h3>
                                                                                    <div class="item--description">
                                                                                        dreamnextedu@gmail.com
                                                                                        <br />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-d8bdc5a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="d8bdc5a" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-extended ">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-13f51f0"
                                                            data-id="13f51f0" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-12c802c elementor-widget elementor-widget-image"
                                                                        data-id="12c802c" data-element_type="widget"
                                                                        data-widget_type="image.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-image"> <img
                                                                                    width="601" height="706" alt=""
                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/contact-about1.png"
                                                                                    class="attachment-full size-full lazyload"
                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4c2fc51"
                                                            data-id="4c2fc51" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-d6bfcba elementor-widget elementor-widget-ct_heading"
                                                                        data-id="d6bfcba" data-element_type="widget"
                                                                        data-widget_type="ct_heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="ct-heading h-align-  sub- ct-heading-left item-st-line-top1">
                                                                                <h3 class="item--title st-line-top1 "
                                                                                    data-wow-delay="ms">
                                                                                    <div class="ct-heading-divider">
                                                                                        <span></span></div>
                                                                                    <span> First step and the easiest
                                                                                        step towards your dreams!!
                                                                                        Contact us Today!! </span>
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-0f30a93 elementor-widget elementor-widget-text-editor"
                                                                        data-id="0f30a93" data-element_type="widget"
                                                                        data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="elementor-text-editor elementor-clearfix">
                                                                                For any inquiries relating to any of the
                                                                                services provided*
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-f409baa elementor-widget elementor-widget-ct_ctf7"
                                                                        data-id="f409baa" data-element_type="widget"
                                                                        data-widget_type="ct_ctf7.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="ct-contact-form-layout1 style1 ">
                                                                                <div class="ct-contact-form-inner">
                                                                                    <div class="ct-contact-form">
                                                                                        <div role="form" class="wpcf7"
                                                                                            id="wpcf7-f91-p24-o1"
                                                                                            lang="en-US" dir="ltr">
                                                                                            <div
                                                                                                class="screen-reader-response">
                                                                                                <p role="status"
                                                                                                    aria-live="polite"
                                                                                                    aria-atomic="true">
                                                                                                </p>
                                                                                                <ul></ul>
                                                                                            </div>
                                                                                            <form method="POST"
                                                                                                class="wpcf7-form">
                                                                                                {% csrf_token %}
                                                                                                <div class="row">
                                                                                                    <div
                                                                                                        class="input-filled col-lg-6 col-md-6">
                                                                                                        <span
                                                                                                            class="wpcf7-form-control-wrap your-name">
                                                                                                            <input
                                                                                                                type="text"
                                                                                                                name="full_name"
                                                                                                                size="40"
                                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                                aria-required="true"
                                                                                                                aria-invalid="false"
                                                                                                                placeholder="Your name*" />
                                                                                                        </span>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="input-filled col-lg-6 col-md-6">
                                                                                                        <span
                                                                                                            class="wpcf7-form-control-wrap your-name"><input
                                                                                                                type="text"
                                                                                                                name="contact_number"
                                                                                                                size="40"
                                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                                aria-required="true"
                                                                                                                aria-invalid="false"
                                                                                                                placeholder="Phone number..." /></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div
                                                                                                        class="input-filled col-12">
                                                                                                        <span
                                                                                                            class="wpcf7-form-control-wrap your-name">
                                                                                                            <input
                                                                                                                type="email"
                                                                                                                name="email"
                                                                                                                value=""
                                                                                                                size="40"
                                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                                                aria-required="true"
                                                                                                                aria-invalid="false"
                                                                                                                placeholder="Your email*" />
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div
                                                                                                        class="input-filled col-12">
                                                                                                        <span
                                                                                                            class="wpcf7-form-control-wrap your-service">
                                                                                                            <select
                                                                                                                name="your-service"
                                                                                                                class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                                                                                                aria-required="true"
                                                                                                                aria-invalid="false">
                                                                                                                <option
                                                                                                                    value="Choose services*"
                                                                                                                    selected
                                                                                                                    disabled>
                                                                                                                    Choose
                                                                                                                    services*
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="consultation">
                                                                                                                    Consultation
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="test-preparation">
                                                                                                                    Test
                                                                                                                    preparation
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="visa-application">
                                                                                                                    Visa
                                                                                                                    Application
                                                                                                                </option>

                                                                                                            </select></span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div
                                                                                                        class="input-filled col-12">
                                                                                                        <span
                                                                                                            class="wpcf7-form-control-wrap your-message">
                                                                                                            <textarea
                                                                                                                name="message"
                                                                                                                cols="40"
                                                                                                                rows="10"
                                                                                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"
                                                                                                                aria-required="true"
                                                                                                                aria-invalid="false"
                                                                                                                placeholder="Message..."></textarea>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="input-filled col-12">
                                                                                                        <button
                                                                                                            type="submit"
                                                                                                            class="wpcf7-submit btn">
                                                                                                            <i
                                                                                                                class="fac fac-paper-plane space-right"></i>
                                                                                                            Submit
                                                                                                        </button>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="wpcf7-response-output"
                                                                                                    aria-hidden="true">
                                                                                                </div>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-d33da39 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="d33da39" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-extended ">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f37ff66"
                                                            data-id="f37ff66" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-f688838 elementor-widget elementor-widget-ct_clients_list"
                                                                        data-id="f688838" data-element_type="widget"
                                                                        data-widget_type="ct_clients_list.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="ct-client1 ct-slick-slider style4">
                                                                                <div class="ct-clients-list-inner">
                                                                                    <div class="ct-slick-carousel"
                                                                                        data-arrows="" data-dots=""
                                                                                        data-pauseOnHover=""
                                                                                        data-autoplay="true"
                                                                                        data-autoplaySpeed="8000"
                                                                                        data-infinite="true"
                                                                                        data-speed="800" data-colxs="2"
                                                                                        data-colsm="3" data-colmd="4"
                                                                                        data-collg="4" data-colxl="4"
                                                                                        data-dir="false"
                                                                                        data-slidesToScroll="1">
                                                                                        <div class="slick-slide">
                                                                                            <div class="client-image ">
                                                                                                <a href="#">
                                                                                                    <img width="169"
                                                                                                        height="35"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-01.png"
                                                                                                        class="ct-thumb-1 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                    <img width="169"
                                                                                                        height="35"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-01.png"
                                                                                                        class="ct-thumb-2 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                </a></div>
                                                                                        </div>
                                                                                        <div class="slick-slide">
                                                                                            <div class="client-image ">
                                                                                                <a href="#">
                                                                                                    <img width="143"
                                                                                                        height="42"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-02.png"
                                                                                                        class="ct-thumb-1 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                    <img width="143"
                                                                                                        height="42"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-02.png"
                                                                                                        class="ct-thumb-2 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                </a></div>
                                                                                        </div>
                                                                                        <div class="slick-slide">
                                                                                            <div class="client-image ">
                                                                                                <a href="#">
                                                                                                    <img width="166"
                                                                                                        height="38"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-03.png"
                                                                                                        class="ct-thumb-1 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                    <img width="166"
                                                                                                        height="38"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-03.png"
                                                                                                        class="ct-thumb-2 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                </a></div>
                                                                                        </div>
                                                                                        <div class="slick-slide">
                                                                                            <div class="client-image ">
                                                                                                <a href="#">
                                                                                                    <img width="170"
                                                                                                        height="35"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-04.png"
                                                                                                        class="ct-thumb-1 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                    <img width="170"
                                                                                                        height="35"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/client-04.png"
                                                                                                        class="ct-thumb-2 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                </a></div>
                                                                                        </div>
                                                                                        <div class="slick-slide">
                                                                                            <div class="client-image ">
                                                                                                <a href="#">
                                                                                                    <img width="196"
                                                                                                        height="36"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/client-05.png"
                                                                                                        class="ct-thumb-1 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                    <img width="196"
                                                                                                        height="36"
                                                                                                        alt=""
                                                                                                        data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/12/client-05.png"
                                                                                                        class="ct-thumb-2 attachment-full lazyload"
                                                                                                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                                </a></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .entry-content -->
                        </article><!-- #post-24 -->
                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}