{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Study Abroad | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'services/visa_upper_links.html' %}
<link rel="stylesheet" href="{% static 'study_abroad\styles\custom_css\study_abroad_detail.css' %}">
{% endblock cssarea %}


{% block content %}
<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">{{ object.name }}</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><span class="breadcrumb-entry">Study Abroad</span></li>
                <li><span class="breadcrumb-entry">{{ object.name }}</span></li>

            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary" class="content-area content-full-width col-12">
                    <main id="main" class="site-main">
                        <article id="post-159"
                            class="single-hentry post-159 post type-post status-publish format-standard has-post-thumbnail hentry category-creative tag-map tag-tower tag-truck">
                            <div class="entry-blog">
                                <div class="entry-featured"> <img width="501" height="313" alt=""
                                        data-srcset="/media/{{ object.main_image }} 1920w, /media/{{ object.main_image }} 600w"
                                        data-src="/media/{{ object.main_image }}"
                                        data-sizes="(max-width: 501px) 100vw, 501px"
                                        class="attachment-consultio-large size-consultio-large wp-post-image lazyload"
                                        src="/media/{{ object.main_image }}" />

                                </div>
                                <div class="entry-body">

                                    <div class="entry-content clearfix">
                                        {{ object.description|safe }}
                                    </div>
                                </div>
                            </div>
                            <div class="entry-footer">

                                <div class="entry-social">
                                    <label>Share:</label>
                                    <a class="fb-social" title="Facebook"
                                        target="_blank"
                                        href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                                        <i
                                            class="fab fac-facebook-f"></i>
                                        </a>
                                            <a class="tw-social" title="Twitter"
                                        target="_blank"
                                        href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}">
                                        <i
                                            class="fab fac-twitter"></i>
                                        </a>
                                        </div>
                            </div>







                        </article><!-- #post -->




                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}