{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Study Abroad | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'services/visa_upper_links.html' %}
<link rel="stylesheet" href="{% static 'study_abroad\styles\custom_css\study_abroad.css' %}">
{% endblock cssarea %}


{% block content %}
<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Study Abroad</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><span class="breadcrumb-entry">Study Abroad</span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary" class="content-area content-full-width col-12">
                    <main id="main" class="site-main">
                        <article id="post-129" class="post-129 page type-page status-publish hentry">
                            <div class="entry-content clearfix">
                                <div data-elementor-type="wp-page" data-elementor-id="129"
                                    class="elementor elementor-129" data-elementor-settings="[]">
                                    <div class="elementor-inner">
                                        <div class="elementor-section-wrap">
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-fb04492 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="fb04492" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-extended ">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7b3c5f0"
                                                            data-id="7b3c5f0" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-f1a14f8 elementor-widget elementor-widget-ct_heading"
                                                                        data-id="f1a14f8" data-element_type="widget"
                                                                        data-widget_type="ct_heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default">
                                                                                <div
                                                                                    class="item--sub-title style1 show-line">
                                                                                    Our Service area</div>
                                                                                <h3 class="item--title st-default "
                                                                                    data-wow-delay="ms"> <span>
                                                                                        Learn something more
                                                                                        from our blog </span>
                                                                                </h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f25fa3b"
                                                            data-id="f25fa3b" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-a6d957c elementor-widget elementor-widget-text-editor"
                                                                        data-id="a6d957c" data-element_type="widget"
                                                                        data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="elementor-text-editor elementor-clearfix">
                                                                                At vero eos et accusamus et
                                                                                iusto odio digni goiku
                                                                                ssimos ducimus qui blanditiis
                                                                                praese. Ntium voluum deleniti
                                                                                atque corrupti quos.</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>






                                            <!-- COUNTRY LISTING -->
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-3df308c elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="3df308c" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-extended ">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-95c454c"
                                                            data-id="95c454c" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-b97f62b elementor-widget elementor-widget-ct_blog_grid"
                                                                        data-id="b97f62b" data-element_type="widget"
                                                                        data-widget_type="ct_blog_grid.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div id="ct_blog_grid-b97f62b"
                                                                                class="ct-grid ct-blog-grid ct-blog-grid-layout1"
                                                                                data-layout="masonry"
                                                                                data-start-page="1" data-max-pages="1"
                                                                                data-total="6" data-perpage="6"
                                                                                data-next-link="">
                                                                                <div class="ct-grid-overlay">
                                                                                </div>
                                                                                <div class="ct-grid-inner ct-grid-masonry row animate-time"
                                                                                    data-gutter="15">
                                                                                    <div
                                                                                        class="grid-sizer col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                                                                    </div>
                                                                                    {% for country in object_list %}
                                                                                    <div
                                                                                        class="grid-item col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                                                                                        <div
                                                                                            class="grid-item-inner wow fadeInUp">
                                                                                            <div class="entry-featured">
                                                                                                <a
                                                                                                    href="{{ country.get_absolute_url }}">
                                                                                                    <img class="disable-lazy "
                                                                                                        src="/media/{{ country.main_image }}"
                                                                                                        width="600"
                                                                                                        height="414"
                                                                                                        alt="{{ country.name }}"
                                                                                                        title="{{ country.name }}" />
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="entry-body">
                                                                                                <div
                                                                                                    class="entry-holder">

                                                                                                    <h3
                                                                                                        class="entry-title">
                                                                                                        <a
                                                                                                            href="{{ country.get_absolute_url }}">
                                                                                                            {{ country.name }}
                                                                                                        </a>
                                                                                                    </h3>
                                                                                                    <div
                                                                                                        class="entry-readmore">
                                                                                                        <a
                                                                                                            href="{{ country.get_absolute_url }}">
                                                                                                            Read
                                                                                                            more
                                                                                                            <i
                                                                                                                class="fac fac-angle-double-right space-left"></i>
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    {% empty %}
                                                                                    No Data
                                                                                    {% endfor %}

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>



                                        </div>
                                    </div>
                                </div>
                            </div><!-- .entry-content -->
                        </article><!-- #post-129 -->
                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}