{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Services | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'services/visa_upper_links.html' %}
{% endblock cssarea %}


{% block content %}
<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">{{ object.title }}</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><a class="breadcrumb-entry" href="{% url 'services_visa' %}">Visa Application</a></li>
                <li><span class="breadcrumb-entry">{{ object.title }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary" class="col-12">
                    <main id="main" class="site-main">
                        <article id="post-4174"
                            class="post-4174 service type-service status-publish hentry service-category-business">
                            <div class="entry-body">
                                <div class="entry-content clearfix">
                                    <div data-elementor-type="wp-post" data-elementor-id="4174"
                                        class="elementor elementor-4174" data-elementor-settings="[]">
                                        <div class="elementor-inner">
                                            <div class="elementor-section-wrap">
                                                <section
                                                    class="elementor-section elementor-top-section elementor-element elementor-element-4768c103 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                    data-id="4768c103" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-extended ">
                                                        <div class="elementor-row">
                                                            <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-7750b682"
                                                                data-id="7750b682" data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-4ef8fb4 elementor-widget elementor-widget-ct_title"
                                                                            data-id="4ef8fb4" data-element_type="widget"
                                                                            data-widget_type="ct_title.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="ct-title1 style2">
                                                                                    <h3> <span>We give the best
                                                                                            Services </span>
                                                                                        <i></i>
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-24df3c85 elementor-widget elementor-widget-text-editor"
                                                                            data-id="24df3c85"
                                                                            data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                    There are many variations of
                                                                                    passages of Lorem Ipsum
                                                                                    available, but the majority
                                                                                    have suffered alteration in
                                                                                    some form, by injected
                                                                                    humour, or randomised words
                                                                                    which don&#8217;t look even
                                                                                    slightly believable. If you
                                                                                    are going to use a passage
                                                                                    of Lorem Ipsum, you need to
                                                                                    be sure there isn&#8217;t
                                                                                    anything embarrassing
                                                                                    hidden.</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-7287157 elementor-widget elementor-widget-text-editor"
                                                                            data-id="7287157" data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                    All the Lorem Ipsum
                                                                                    generators on the Internet
                                                                                    tend to repeat predefined
                                                                                    chunks as necessary, making
                                                                                    this the first true
                                                                                    generator on the Internet.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-381bdecc elementor-widget elementor-widget-ct_list"
                                                                            data-id="381bdecc"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_list.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="ct-list style1 ">
                                                                                    <div class="ct-list-item "
                                                                                        data-wow-delay="ms">
                                                                                        <div class="ct-list-icon">
                                                                                            <i
                                                                                                class="fac fac-check-circle"></i>
                                                                                        </div>
                                                                                        <div class="ct-list-meta">
                                                                                            <div class="ct-list-desc">
                                                                                                Sed do eiusmod
                                                                                                tempor
                                                                                                incididunt ut
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="ct-list-item "
                                                                                        data-wow-delay="ms">
                                                                                        <div class="ct-list-icon">
                                                                                            <i
                                                                                                class="fac fac-check-circle"></i>
                                                                                        </div>
                                                                                        <div class="ct-list-meta">
                                                                                            <div class="ct-list-desc">
                                                                                                Labore et dolore
                                                                                                magna aliqua
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="ct-list-item "
                                                                                        data-wow-delay="ms">
                                                                                        <div class="ct-list-icon">
                                                                                            <i
                                                                                                class="fac fac-check-circle"></i>
                                                                                        </div>
                                                                                        <div class="ct-list-meta">
                                                                                            <div class="ct-list-desc">
                                                                                                Ut enim ad minim
                                                                                                veniam quis
                                                                                                nostrud</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-283f37f7 elementor-widget elementor-widget-ct_gallery_carousel"
                                                                            data-id="283f37f7"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_gallery_carousel.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-gallery-carousel1 ct-slick-slider">
                                                                                    <div class="ct-carousel-inner">
                                                                                        <div class="ct-slick-carousel"
                                                                                            data-arrows=""
                                                                                            data-dots="true"
                                                                                            data-pauseOnHover=""
                                                                                            data-autoplay="true"
                                                                                            data-autoplaySpeed="5000"
                                                                                            data-infinite=""
                                                                                            data-speed="500"
                                                                                            data-colxs="1"
                                                                                            data-colsm="2"
                                                                                            data-colmd="2"
                                                                                            data-collg="2"
                                                                                            data-colxl="2"
                                                                                            data-dir="false"
                                                                                            data-slidesToScroll="2">
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="theme-05"
                                                                                                    title="theme-05"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-05-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="theme-01"
                                                                                                    title="theme-01"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-01-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="theme-09"
                                                                                                    title="theme-09"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-09-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                            <div class="slick-slide">
                                                                                                <img width="475"
                                                                                                    height="600"
                                                                                                    alt="theme-07"
                                                                                                    title="theme-07"
                                                                                                    data-src="https://demo.casethemes.net/consultio-immigration/wp-content/uploads/2019/11/theme-07-475x600.jpg"
                                                                                                    class="lazyload"
                                                                                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-189ea31 elementor-widget elementor-widget-ct_tabs"
                                                                            data-id="189ea31" data-element_type="widget"
                                                                            data-widget_type="ct_tabs.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-tabs ct-tabs--layout1 type-horizontal style1">
                                                                                    <div class="ct-tabs-title">
                                                                                        <span
                                                                                            class="ct-tab-title active"
                                                                                            data-target="#ct_tabs-189ea31-9b25c0b">
                                                                                            Personal Care
                                                                                        </span> <span
                                                                                            class="ct-tab-title "
                                                                                            data-target="#ct_tabs-189ea31-4f1a9d6">
                                                                                            Super Support
                                                                                        </span> <span
                                                                                            class="ct-tab-title "
                                                                                            data-target="#ct_tabs-189ea31-d7551e8">
                                                                                            Guaranteed </span>
                                                                                    </div>
                                                                                    <div class="ct-tabs-content">
                                                                                        <div class="ct-tab-content "
                                                                                            id="ct_tabs-189ea31-9b25c0b"
                                                                                            style="display:block;">
                                                                                            <p>Sed ut
                                                                                                perspiciatis
                                                                                                unde omnis iste
                                                                                                natus error sit
                                                                                                voluptatem
                                                                                                accusantium
                                                                                                doloremque lau
                                                                                                dantium, totam
                                                                                                rem aperiam,
                                                                                                eaque ipsa quae
                                                                                                ab illo
                                                                                                inventore
                                                                                                veritatis et
                                                                                                quasi archi
                                                                                                tecto beatae
                                                                                                vitae dicta sunt
                                                                                                explicabo.</p>
                                                                                            <p>Nemo enim ipsam
                                                                                                voluptatem quia
                                                                                                voluptas sit
                                                                                                aspernatur aut
                                                                                                odit aut fugit,
                                                                                                sed quia conse
                                                                                                quuntur magni
                                                                                                dolores eos qui
                                                                                                ratione
                                                                                                voluptatem sequi
                                                                                                nesciunt.</p>
                                                                                        </div>
                                                                                        <div class="ct-tab-content "
                                                                                            id="ct_tabs-189ea31-4f1a9d6">
                                                                                            <p>Nemo enim ipsam
                                                                                                voluptatem quia
                                                                                                voluptas sit
                                                                                                aspernatur aut
                                                                                                odit aut fugit,
                                                                                                sed quia conse
                                                                                                quuntur magni
                                                                                                dolores eos qui
                                                                                                ratione
                                                                                                voluptatem sequi
                                                                                                nesciunt.<br />
                                                                                            </p>
                                                                                            <p>Sed ut
                                                                                                perspiciatis
                                                                                                unde omnis iste
                                                                                                natus error sit
                                                                                                voluptatem
                                                                                                accusantium
                                                                                                doloremque lau
                                                                                                dantium, totam
                                                                                                rem aperiam,
                                                                                                eaque ipsa quae
                                                                                                ab illo
                                                                                                inventore
                                                                                                veritatis et
                                                                                                quasi archi
                                                                                                tecto beatae
                                                                                                vitae dicta sunt
                                                                                                explicabo.</p>
                                                                                        </div>
                                                                                        <div class="ct-tab-content "
                                                                                            id="ct_tabs-189ea31-d7551e8">
                                                                                            <p>Sed ut
                                                                                                perspiciatis
                                                                                                unde omnis iste
                                                                                                natus error sit
                                                                                                voluptatem
                                                                                                accusantium
                                                                                                doloremque lau
                                                                                                dantium, totam
                                                                                                rem aperiam,
                                                                                                eaque ipsa quae
                                                                                                ab illo
                                                                                                inventore
                                                                                                veritatis et
                                                                                                quasi archi
                                                                                                tecto beatae
                                                                                                vitae dicta sunt
                                                                                                explicabo
                                                                                                voluptatem sequi
                                                                                                nesciunt.</p>
                                                                                            <p>Nemo enim ipsam
                                                                                                voluptatem quia
                                                                                                voluptas sit
                                                                                                aspernatur aut
                                                                                                odit aut fugit,
                                                                                                sed quia conse
                                                                                                quuntur magni
                                                                                                dolores eos qui
                                                                                                ratione
                                                                                                voluptatem sequi
                                                                                                nesciunt.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-6640a592 elementor-widget elementor-widget-ct_service_carousel"
                                                                            data-id="6640a592"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_service_carousel.default">




                                                                            <div class="elementor-widget-container">
                                                                                <div id="ct_service_carousel-6640a592"
                                                                                    class="ct-service-carousel2 ct-slick-slider style1">
                                                                                    <div class="ct-carousel-inner">
                                                                                        <div class="ct-slick-carousel"
                                                                                            data-arrows="true"
                                                                                            data-dots="false"
                                                                                            data-pauseOnHover="false"
                                                                                            data-autoplay="false"
                                                                                            data-autoplaySpeed="5000"
                                                                                            data-infinite="true"
                                                                                            data-speed="500"
                                                                                            data-colxs="1"
                                                                                            data-colsm="2"
                                                                                            data-colmd="2"
                                                                                            data-collg="2"
                                                                                            data-colxl="2"
                                                                                            data-dir="false"
                                                                                            data-slidesToScroll="1">


                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>




                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7d2db62"
                                                                data-id="7d2db62" data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        <div class="elementor-element elementor-element-103ed49d elementor-widget elementor-widget-ct_navigation_menu"
                                                                            data-id="103ed49d"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_navigation_menu.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div id="ct_navigation_menu-103ed49d"
                                                                                    class="ct-navigation-menu1 default">



                                                                                </div>




                                                                            </div>




                                                                        </div>
                                                                        <div class="elementor-element elementor-element-1fb4aeb0 elementor-widget elementor-widget-spacer"
                                                                            data-id="1fb4aeb0"
                                                                            data-element_type="widget"
                                                                            data-widget_type="spacer.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-spacer">
                                                                                    <div class="elementor-spacer-inner">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-310525f4 elementor-widget elementor-widget-ct_heading"
                                                                            data-id="310525f4"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default">
                                                                                    <h3 class="item--title st-default "
                                                                                        data-wow-delay="ms">
                                                                                        <span> Contact </span>
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-35cda179 elementor-widget elementor-widget-ct_contact_info"
                                                                            data-id="35cda179"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_contact_info.default">
                                                                            <div class="elementor-widget-container">
                                                                                <ul id="ct_contact_info-35cda179"
                                                                                    class="ct-contact-info ct-contact-info1 style2 ">
                                                                                    <div class="ct-inline-css"
                                                                                        data-css=" "></div>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="fas fa-map-marked-alt"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            Kumaripati, Lalitpur
                                                                                        </span></li>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-phone"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            10:00 am
                                                                                            - 06:00pm<br />
                                                                                            Sun - Fri

                                                                                        </span></li>
                                                                                    <li> <span class="ct-contact-icon">
                                                                                            <i aria-hidden="true"
                                                                                                class="material zmdi zmdi-email-open"></i>
                                                                                        </span> <span
                                                                                            class="ct-contact-content">
                                                                                            dreamnextedu@gmail.com
                                                                                        </span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>




                                                                        <div class="elementor-element elementor-element-485e1348 elementor-widget elementor-widget-spacer"
                                                                            data-id="485e1348"
                                                                            data-element_type="widget"
                                                                            data-widget_type="spacer.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="elementor-spacer">
                                                                                    <div class="elementor-spacer-inner">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-550c04b1 elementor-widget elementor-widget-ct_heading"
                                                                            data-id="550c04b1"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_heading.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default">
                                                                                    <h3 class="item--title st-default "
                                                                                        data-wow-delay="ms">
                                                                                        <span> Brochures </span>
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-1570951c elementor-widget elementor-widget-text-editor"
                                                                            data-id="1570951c"
                                                                            data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                    View our 2020 Medical
                                                                                    prospectus of
                                                                                    brochure for an easy to read
                                                                                    guide on
                                                                                    all of the services offer.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-element elementor-element-756e5eb9 elementor-widget elementor-widget-ct_download"
                                                                            data-id="756e5eb9"
                                                                            data-element_type="widget"
                                                                            data-widget_type="ct_download.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div class="ct-download">
                                                                                    <div class="item--download">
                                                                                        <a href="#"> <i
                                                                                                aria-hidden="true"
                                                                                                class="material zmdi zmdi-download"></i>
                                                                                            <span>Download
                                                                                                Brochure</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="item--download">
                                                                                        <a href="#"> <i
                                                                                                aria-hidden="true"
                                                                                                class="far fa-file-pdf"></i>
                                                                                            <span>Characteristics</span>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>




                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </div>
                        </article><!-- #post -->
                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}