{% extends 'home/base.html' %}
{% load static %}


{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Services | Dream Next Education Foundation Pvt. Ltd.
{% endblock titlearea %}

{% block cssarea %}
{% include 'services/visa_upper_links.html' %}
<link rel="stylesheet" href="{% static 'services\styles\custom_css\services_visa.css' %}">
{% endblock cssarea %}


{% block content %}
<div id="pagetitle" class="page-title bg-image ">
    <div class="container">
        <div class="page-title-inner">
            <div class="page-title-holder">
                <h1 class="page-title">Services</h1>
            </div>
            <ul class="ct-breadcrumb">
                <li><a class="breadcrumb-entry" href="{% url 'home' %}">Home</a></li>
                <li><span class="breadcrumb-entry">Services</span></li>
            </ul>
        </div>
    </div>
</div>
<div id="content" class="site-content">
    <div class="content-inner">
        <div class="container content-container">
            <div class="row content-row">
                <div id="primary" class="content-area content-full-width col-12">
                    <main id="main" class="site-main">
                        <article id="post-407" class="post-407 page type-page status-publish hentry">
                            <div class="entry-content clearfix">
                                <div data-elementor-type="wp-page" data-elementor-id="407"
                                    class="elementor elementor-407" data-elementor-settings="[]">
                                    <div class="elementor-inner">
                                        <div class="elementor-section-wrap">
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-f019bad elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="f019bad" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-extended ">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5ce29c2"
                                                            data-id="5ce29c2" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-d3b6aca elementor-widget elementor-widget-ct_heading"
                                                                        data-id="d3b6aca" data-element_type="widget"
                                                                        data-widget_type="ct_heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="ct-heading h-align-  sub-style1 ct-heading-left item-st-default">
                                                                                <div
                                                                                    class="item--sub-title style1 show-line">
                                                                                    Services</div>
                                                                                <h3 class="item--title st-default "
                                                                                    data-wow-delay="ms"> <span>
                                                                                        We position our clients
                                                                                        at the forefront of
                                                                                        their field by advancing
                                                                                        an agenda. </span></h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-877c444"
                                                            data-id="877c444" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-8a619a7 elementor-widget elementor-widget-text-editor"
                                                                        data-id="8a619a7" data-element_type="widget"
                                                                        data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div
                                                                                class="elementor-text-editor elementor-clearfix">
                                                                                Easily apply to multiple jobs
                                                                                with one click! Quick Apply
                                                                                shows you recommended jobs based
                                                                                off your most recent search and
                                                                                allows you to apply to 25+ jobs
                                                                                in a matter of seconds!</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section
                                                class="elementor-section elementor-top-section elementor-element elementor-element-7d640f1 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                data-id="7d640f1" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-extended ">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1e2ce89"
                                                            data-id="1e2ce89" data-element_type="column">
                                                            <div
                                                                class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-16d5b63 elementor-widget elementor-widget-ct_service_grid"
                                                                        data-id="16d5b63" data-element_type="widget"
                                                                        data-widget_type="ct_service_grid.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div id="ct_service_grid-16d5b63"
                                                                                class="ct-grid ct-service-grid1"
                                                                                data-layout="masonry"
                                                                                data-start-page="1" data-max-pages="1"
                                                                                data-total="6" data-perpage="6"
                                                                                data-next-link="">
                                                                                <div class="ct-grid-overlay">
                                                                                </div>
                                                                                <div class="ct-grid-inner ct-grid-masonry row animate-time"
                                                                                    data-gutter="15">
                                                                                    {% for visa in object_list %}
                                                                                    <div
                                                                                        class="grid-item col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ">
                                                                                        <div
                                                                                            class="grid-item-inner wow fadeIn active-featured">
                                                                                            <div class="grid-item-over">
                                                                                                <div
                                                                                                    class="item--featured">
                                                                                                    <img class="disable-lazy "
                                                                                                        src="/media/{{ visa.main_image }}"
                                                                                                        width="541"
                                                                                                        height="600"
                                                                                                        alt="theme-10"
                                                                                                        title="theme-10" />
                                                                                                </div>
                                                                                                <div
                                                                                                    class="item--holder">
                                                                                                    <div
                                                                                                        class="item--holder-inner">
                                                                                                        <div
                                                                                                            class="item--icon">
                                                                                                            <i
                                                                                                                class="text-gradient flaticonv5-business"></i>
                                                                                                        </div>
                                                                                                        <h3
                                                                                                            class="item--title">
                                                                                                            {{ visa.title }}
                                                                                                        </h3>
                                                                                                        <div
                                                                                                            class="item--gap">
                                                                                                        </div>
                                                                                                        <div
                                                                                                            class="item--content">
                                                                                                            {{ visa.summary }}
                                                                                                        </div>
                                                                                                        <div
                                                                                                            class="item--icon-abs">
                                                                                                            <i
                                                                                                                class="text-gradient flaticonv5-business"></i>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="item--meta">
                                                                                                    <h3
                                                                                                        class="item--title">
                                                                                                        <a
                                                                                                            href="{{ visa.get_absolute_url}}">Business
                                                                                                            Visa</a>
                                                                                                    </h3>
                                                                                                    <div
                                                                                                        class="item--readmore">
                                                                                                        <a class="more-plus"
                                                                                                            href="{{ visa.get_absolute_url}}">+</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    {% empty %}
                                                                                    No Data
                                                                                    {% endfor %}
                                                                                    <div
                                                                                        class="grid-sizer col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>




                                        </div>
                                    </div>
                                </div>
                            </div><!-- .entry-content -->
                        </article><!-- #post-407 -->
                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>
        </div>
    </div><!-- #content inner -->
</div><!-- #content -->
{% endblock content %}

{% block javascript %}
{% endblock javascript %}